BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: false
SortIncludes: false
ReflowComments: false